.card {
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.title {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.row {
  background-color: azure;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cardImage {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
}

li {
  list-style: none;
}
